
<main class='screen'>
	<header>
		<h1>Signup Form</h1>
	</header>
	<div class='container'>
		<form action='/signup' method='post' name='signup' id='signup-form'>
			<label for='fname'>First Name:</label>
			<input type='text' name='fname' id='fname' />
			<br />
			<label for='lname'>Last Name:</label>
			<input type='text' name='lname' id='lname' />
			<br />
			<label for='email'>Email:</label>
			<input type='text' name='email' id='email' />
			<br />
			<label for='username'>Username:</label>
			<input type='text' name='username' id='username' />
			<br />
			<label for='password'>Password:</label>
			<input type='password' name='password' id='password' />
			<br />
			<label for='confirmpassword'>Confirm Password:</label>
			<input
				type='password'
				name='confirmpassword'
				id='confirmpassword'
			/>
			<br />
			<button type='submit'>Enter</button>
		</form>
	</div>
	<p class='error' id='error'>{{errormsg}}</p>
	<img src="../public/badgeImages/logo-modified.png" alt="logo" class="centerimage resize">
	<pre>
░██╗░░░░░░░██╗███████╗██╗░░░░░██╗░░░░░███╗░░██╗███████╗░██████╗░██████╗
░██║░░██╗░░██║██╔════╝██║░░░░░██║░░░░░████╗░██║██╔════╝██╔════╝██╔════╝
░╚██╗████╗██╔╝█████╗░░██║░░░░░██║░░░░░██╔██╗██║█████╗░░╚█████╗░╚█████╗░
░░████╔═████║░██╔══╝░░██║░░░░░██║░░░░░██║╚████║██╔══╝░░░╚═══██╗░╚═══██╗
░░╚██╔╝░╚██╔╝░███████╗███████╗███████╗██║░╚███║███████╗██████╔╝██████╔╝
░░░╚═╝░░░╚═╝░░╚══════╝╚══════╝╚══════╝╚═╝░░╚══╝╚══════╝╚═════╝░╚═════╝░</pre>
	<br>
	<br />
	<button onclick="location.href='/'" type='button'>Back</button>
	<script src='/public/js/signup.js'></script>
</main>