.error {
  color: #a10000;
  font-weight: 500;
}
body{
  background-color: #80cfa9ff !important;
}

.cardTask {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.3s;
  border-radius: 5px;
  height: 250px;
}

.cardTask:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containerTask {
  padding: 2px 16px;
}

.profile{
  color: black;
}

button,.selectTasks {
  background-color: white;
  border: 2px solid #4CAF50;;
  border-radius: 4px;
  color: black;
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  transition-duration: 0.4s;
}

.selectTasks{
  font-size: medium;
}

.selectTasks:hover{
  cursor: pointer;
}

button:hover{
  background-color: #d5aca9ff; /* Green */
  color: white;
}


.taskLink{
  border: 3px solid #45b6fe;
  color:black;
}

.taskLink:hover{
  background-color: #d5aca9ff;
  color:black;
}

.taskDelete{
  border: 2px solid rgb(224, 13, 13);
  color:rgb(224, 13, 13);
}

.taskDelete:hover{
  background-color: rgb(224, 13, 13);
  color:white;
}


.card{
  color:#e07a00;
}

.profile .card {
  border-radius: 10px;
}
.badge_img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 5px auto;
  border: 5px solid #ccc;
  border-radius: 50%;
}
.profile_img {
  width: 150px;
  height: 150px;
}
.profile .card {
  font-size: 20px;
  font-weight: 700;
}
.profile .card p {
  font-size: 16px;
  color:black;
}
.profile .table th,
.profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: black;
}

.home{
  text-align: center;
}
form {
  overflow: hidden;  
  background-color: white;
  width:100%;
}

#selectTask{
  background-color: transparent;
}

input {
  float: right;
  width: calc(100% - 500px);
}

p{
  word-wrap:break-word;
}

li{
  word-wrap:break-word;
  margin-top: 1em;
  list-style-type: none;
}

.centered{
  text-align: center;
}

button {
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  overflow: hidden;
  font-family: "Lucida Console", "Courier New", monospace;
}

button {
  color: black;
  border: 3px solid #45b6fe;
  background-image: -webkit-linear-gradient(
    30deg,
    #45b6fe 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #a7e2e3ff 50%, transparent 50%);
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  
}

button:hover {
  background-position: 100%;
  color: black;
}

.screen{
  color: #4c6663ff;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.resize {
  width: 200px;
  height: auto;
}

.container {
  width: 200px;
  clear: both;
  margin: auto;
  line-height: 1.8;
}