body {
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4ca2cd,
    #67b26f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4ca2cd,
    #67b26f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: white;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 100px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

button,.selectTasks {
  background-color: white;
  border: 2px solid #4CAF50;;
  border-radius: 4px;
  color: black;
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  transition-duration: 0.4s;
}

.selectTasks{
  font-size: medium;
}

.selectTasks:hover{
  cursor: pointer;
}

button:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}


.taskLink{
  border: 2px solid rgb(9, 130, 230);
  color:rgb(9, 130, 230);
}

.taskLink:hover{
  background-color: rgb(9, 130, 230);
  color:white;
}

.taskDelete{
  border: 2px solid rgb(224, 13, 13);
  color:rgb(224, 13, 13);
}

.taskDelete:hover{
  background-color: rgb(224, 13, 13);
  color:white;
}

.error {
  color: red;
}

.card h4{
  color:darkorange
}

.profile .card {
  border-radius: 10px;
}
.badge_img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 5px auto;
  border: 5px solid #ccc;
  border-radius: 50%;
}
.profile_img {
  width: 150px;
  height: 150px;
}
.profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}
.profile .card p {
  font-size: 16px;
  color: white;
}
.profile .table th,
.profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: white;
}

.home{
  text-align: center;
}
form {
  overflow: hidden;  
  background-color: white;
  width:100%;
}

#selectTask{
  background-color: transparent;
}

input {
  float: right;
  width: calc(100% - 500px);
}